@import "./settings.scss";

@keyframes changeBackground {
  from {
    background: inherit;
    color: inherit;
  }
  to {
    background: $primary;
    color: #ffffff;
  }
}

@keyframes changeFontColor {
  from {
    color: inherit;
  }
  to {
    color: #ffffff;
  }
}

@keyframes changePosition {
  from {
    transform: translateY(25%);
  }
  to {
    transform: translateY(0);
  }
}
