$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

/* CUSTOMIZE HOVER */
    /* TRANSITION FOR ALL */
    $transition-color: 250ms;
    $transition-bg-color: 250ms;
    $transition-transform: 250ms;

    /* HOVER PARAMS IN TOPBAR */
    $TB-hover-background: inherit;
    $TB-hover-color: #d58e32;

    /* HOVER PARAMS IN MENUBAR */
    $MB-hover-background: #d58e32;
    $MB-hover-color: #fff;
    $MB-hover-transform: 0;

    /* HOVER PARAMS IN NEWFURNITURE */
    $NF-hover-background: inherit;
    $NF-hover-color: inherit;
    $NF-hover-transform: 0;

    /* HOVER PARAMS IN PRODUCTBOX */
    $BT-hover-background: #2a2a2a;
    $BT-hover-color: #fff;
    $BT-hover-transform: 0;
/* ================================== */
