@import "../../../styles/settings.scss";

.root {
  .foto {
    position: relative;
    height: 100%;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  margin: 40px 0 40px 0;
  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid #e2e2e2;
    }

    .heading {
      position: relative;

      h3 {
        color: $primary;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $primary;
      }
    }
  }

  .cardMenu {
    background: #e2e2e2;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      background: white;
      width: 100%;
      border: 1px solid #e2e2e2;
      li {
        padding: 5px 12px 5px 12px;
        font-size: 15px;
        font-weight: 550;

        &.active,
        &:hover {
          cursor: pointer;
          border-top: 2px solid $primary;
          margin-top: -2px;
          color: $primary;
          background: #e2e2e2;
        }
      }
    }
  }

  .cardBody {
    background: #e2e2e2;
    position: relative;
    height: 400px;
    display: flex;
    position: relative;

    .foto {
      position: relative;
      height: 100%;
      width: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .iconBox {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      top: 40px;
      left: 10px;
      height: 220px;
      width: 50px;
      padding: 10px;
      background: rgba(255, 255, 255, .5);

      .oneIcon {
        margin: 5px 0 5px 0;
        border: 1px solid black;
        padding: 5px;

        &:hover {
          cursor: pointer;
          border: 1px solid $primary;
          color: $primary;
        }
      }
    }

    .slider {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px 0 20px;

      .btnGlr {
        color: #fff;
        background: $footer-bg;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70%;
        padding: 0 5px 0 5px;

        &:hover {
          cursor: pointer;
          background: $primary;
        }
      }

      .foto {
        position: relative;
        height: 70%;
        width: 15%;
        background: rgba(0, 0, 0, .6);

        &:hover {
          &::before {
            cursor: pointer;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.4);
            z-index: 22;
          }
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .price {
      position: absolute;
      top: 150px;
      right: 50px;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.5);
      padding: 0 20px 0 20px;
      z-index: 22;

      .text {
        padding-top: 30px;
        text-align: center;
        color: #fff;
        font-size: 16px;

        .oldPrice {
          font-size: 14px;
          text-decoration: line-through;
        }
      }
    }

    .product {
      position: absolute;
      box-shadow: 0 0 1em black;
      top: 220px;
      right: 0;
      width: 240x;
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #fff;
      padding: 0 20px 0 20px;

      p {
        margin: 0;
        font-size: 12px;
        font-weight: bold;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0; left: 0;
        border-top: 20px solid $footer-bg;
        border-right: 20px solid rgba(0,0,0, .0);
        width: 0;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0; right: 0;
        border-bottom: 20px solid $footer-bg;
        border-left: 20px solid rgba(0,0,0, .0);
        width: 0;
      }
    }
  }
}
